<div class="container">
	<div class="jumbotron">
		<%= render "partials/alerts" %>
		<h2 class="">Admin - Log in</h2>

		<%= form_tag admin_sessions_path do %>
		<p>
			<%= label_tag :email %><br />
			<%= text_field_tag :email, params[:email] %>
		</p>
		<p>
			<%= label_tag :password %><br />
			<%= password_field_tag :password %>
		</p>
		<p class="button"><%= submit_tag "Log in" %></p>
		<% end %>

	</div>
</div>

<div class="text-center">
 	<ul id="login-menu">
		<li><%= link_to 'Admin', log_in_path %></li> |
		<li><%= link_to 'Superuser', hospital_super_user_log_in_path %></li> |
		<li><%= link_to 'Manager', manager_log_in_path %></li>
	</ul>
</div>