<div id="request-holder" hospital_id="<%=current_manager.hospital_id%>">
	<% @requests.each_slice(4) do |slice| %>
	<div class="row">
		<% slice.each do |request| -%>
		<% if  request.accepted==true%>
		<div class="col-md-3" request_id="<%=request.id%>" ambulance_user_id="<%=request.ambulance_user_id%>">
			<div class="panel panel-green">
				<div class="panel-heading">
					<div class="row">
						<div class="col-md-12">
							<i class="fa fa-tasks"> </i><span> Request # <%= request.id %></span>
						</div>
					</div>
				</div>
				<a href="<%= request_show_path request %>">
					<div class="panel-footer">
						<span class="pull-left">Blood Pressure: <%=request.blood_pressure%></span>
						<div class="clearfix"></div>
					</div>
					<div class="panel-footer">
						<span class="pull-left">Temperature: <%=request.temperature%></span>
						<div class="clearfix"></div>
					</div>
					<div class="panel-footer">
						<span class="pull-left">Breathing problem: <%=request.breathing%></span>
						<div class="clearfix"></div>
					</div>
					<div class="panel-footer">
						<span class="pull-left">Pulse Rate: <%=request.pulse_rate %></span>
						<div class="clearfix"></div>
					</div>
					<div class="panel-footer">
						<span class="pull-left">Type: <%= request.requests_type %></span>
						<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
						<div class="clearfix"></div>
					</div>
				</a>
			</div>
		</div>
		<% else%>
		<div class="col-md-3" request_id="<%=request.id%>" ambulance_user_id="<%=request.ambulance_user_id%>" incomming="true">
			<div class="panel panel-red">
				<div class="panel-heading">
					<div class="row">
						<div class="col-sm-12">
							<i class="fa fa-support"> </i><span> Incoming Request # <%= request.id %></span>
						</div>
					</div>
				</div>
				<a href="<%= request_show_path request %>">
					<div class="panel-footer">
						<span class="pull-left">Blood Pressure: <%=request.blood_pressure%></span>
						<div class="clearfix"></div>
					</div>
					<div class="panel-footer">
						<span class="pull-left">Temperature: <%=request.temperature%></span>
						<div class="clearfix"></div>
					</div>
					<div class="panel-footer">
						<span class="pull-left">Breathing problem: <%=request.breathing%></span>
						<div class="clearfix"></div>
					</div>
					<div class="panel-footer">
						<span class="pull-left">Pulse Rate: <%=request.pulse_rate %></span>
						<div class="clearfix"></div>
					</div>
					<div class="panel-footer">
						<span class="pull-left">Type: <%= request.requests_type %></span>
						<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
						<div class="clearfix"></div>
					</div>
				</a>
			</div>
		</div>		
		<% end %>
		<% end -%>
	</div>
	<% end -%>
</div>