<% if @request.accepted==false %>
<div>
	<div class="row">
		<div class="col-md-12 text-center">
			<h3>
				Please accept the request
			</h3>
		</div>	
	</div>
	<div class="text-center"> Request # <%=@request.id%> </div> 
	<%= simple_form_for @request, url: request_show_path do |f| %>

	<div class="form-group text-center">

		<%= f.input :bed_id , as: :radio_buttons, collection: Bed.where(:hospital_id => @request.hospital_id), :required => true, wrapper: :vertical_radio_and_checkboxes %>

	</div>
	<div class="form-group text-center">
		<%= f.button :submit, class: 'btn-success' %>
	</div>
	<% end %>
</div>



<% elsif( @request.accepted==true  && @request.data_received == false)%>
<br>
<br>
<h3 class="text-center">Waiting for Patient Data</h3>




<% else %>
<h1>Patient Details</h1>
<div class="row">
	<div class="col-md-6 text-center">
		<div class="row"><div class="col-md-12"><b>Request ID: </b><span id="req_id"><%= @request_detail.request_id %></span></div></div>
		<div class="row"><div class="col-md-12"><b>Age: </b><%= @request_detail.age %></div></div>
		<div class="row"><div class="col-md-12"><b>Gender: </b><%= @request_detail.gender %></div></div>
		<div class="row"><div class="col-md-12"><b>Blood Pressure: </b><%= @request_detail.blood_pressure %></div></div>
		<div class="row"><div class="col-md-12"><b>CNIC: </b><%= @request_detail.cnic %></div></div>

		<div class="row">

			<%= simple_form_for @request_detail, 
			:url => url_for(:action => 'update_details', :controller => 'requests'),
			:method => 'put' do |f| %>	


			<div class="form-group text-center">

				<%= f.input :cnic, placeholder: "Enter CNIC", label: false  %>

			</div>
			<div class="form-group text-center">
				<%= f.button :submit, class: 'btn-success' %>
			</div>
			<% end %>
		</div>

	</div>
	<div class="col-md-6 text-center">
		<!-- Display Map HERE! -->
		<div >
			<div id="map"></div>
		</div>
	</div>	


	<% end %>

	<%= javascript_tag do %>
		window.productsURL = "<%= j user_location_path %>";
	<% end %>