<!DOCTYPE html>
<html>
<head>
	<title>LifeSaver</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	<%= action_cable_meta_tag %>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCk7-Iu7OseV-lvGETK8cMYhJtMoQ5UkV0&callback=initMap"
                                       async defer></script>

</head>
<body>


	<%= yield %>
	<%= render "partials/scripts" %>
	
</body>
</html>
